<div *ngIf="gameEnd.isFinished()" >
    <div id="game-end-modal" class="modal fade in" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <!-- SUCCESS -->
                    <div *ngIf="gameEnd.isSuccessful()">
                        <p>You won</p>

                        <button class="btn btn-default" (click)="newGame()" >Play again</button>
                        <button class="btn btn-default" (click)="saveScore()" [disabled]="scoreSaved" >Save score</button>

                        <a routerLink="/scoreboard" >Go to scoreboard list</a>

                    </div>

                    <!-- FAILURE -->
                    <div *ngIf="gameEnd.isFailure()">
                        <p>You lost</p>

                        <button class="btn btn-default" (click)="newGame()" >Retry new game</button>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
