<div id="modal-window" class="modal fade in" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)="close()"  aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
                <button *ngIf="confirmBtnEnabled" (click)="confirm()" type="button" class="btn btn-primary">{{confirmBtnText}}</button>
                <button *ngIf="cancelBtnEnabled" (click)="close()" type="button" class="btn btn-default" data-dismiss="modal">{{cancelBtnText}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>
